<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4"
	xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

  <servlet>
    <servlet-name>LifemapperService</servlet-name>
    <servlet-class>edu.utep.cybershare.elseweb.service.lifemapper.LifemapperService</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>WCSScenarioRequirementsService</servlet-name>
    <servlet-class>edu.utep.cybershare.elseweb.service.requirements.WCSScenarioRequirementsService</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TiffScenarioExtractionService</servlet-name>
    <servlet-class>edu.utep.cybershare.elseweb.service.adaptor.TiffScenarioExtractionService</servlet-class>
  </servlet>

  
  <servlet-mapping>
    <servlet-name>LifemapperService</servlet-name>
    <url-pattern>/LifemapperService</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
    <servlet-name>WCSScenarioRequirementsService</servlet-name>
    <url-pattern>/WCSScenarioRequirementsService</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TiffScenarioExtractionService</servlet-name>
    <url-pattern>/TiffScenarioExtractionService</url-pattern>
  </servlet-mapping>

</web-app>