<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4"
	xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

  <servlet>
    <servlet-name>Lifemapper</servlet-name>
    <servlet-class>edu.utep.cybershare.elseweb.lifemapper.Lifemapper</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>WCSCoverageSequencer</servlet-name>
    <servlet-class>edu.utep.cybershare.elseweb.adaptor.WCSCoverageSequencer</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>WCSPayloadExtractor</servlet-name>
    <servlet-class>edu.utep.cybershare.elseweb.adaptor.WCSPayloadExtractor</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>Lifemapper</servlet-name>
    <url-pattern>/Lifemapper</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>WCSCoverageSequencer</servlet-name>
    <url-pattern>/WCSCoverageSequencer</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>WCSPayloadExtractor</servlet-name>
    <url-pattern>/WCSPayloadExtractor</url-pattern>
  </servlet-mapping>
  
</web-app>