<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4"
	xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

  <servlet>
    <servlet-name>FractionalSnowCover06182002</servlet-name>
    <servlet-class>edu.utep.cybershare.elseweb.edac.FractionalSnowCover06182002</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>WCSPayloadExtractor</servlet-name>
    <servlet-class>edu.utep.cybershare.elseweb.delrio.WCSPayloadExtractor</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FractionalSnowCover07292002</servlet-name>
    <servlet-class>edu.utep.cybershare.elseweb.edac.FractionalSnowCover07292002</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Lifemapper</servlet-name>
    <servlet-class>edu.utep.cybershare.elseweb.lifemapper.Lifemapper</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MinimumTemperatureNormals_December_1981_2010</servlet-name>
    <servlet-class>edu.utep.cybershare.elseweb.edac.MinimumTemperatureNormals_December_1981_2010</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FractionalSnowCover07122002</servlet-name>
    <servlet-class>edu.utep.cybershare.elseweb.edac.FractionalSnowCover07122002</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FractionalSnowCover07132002</servlet-name>
    <servlet-class>edu.utep.cybershare.elseweb.edac.FractionalSnowCover07132002</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>FractionalSnowCover06182002</servlet-name>
    <url-pattern>/FractionalSnowCover06182002</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>WCSPayloadExtractor</servlet-name>
    <url-pattern>/WCSPayloadExtractor</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FractionalSnowCover07292002</servlet-name>
    <url-pattern>/FractionalSnowCover07292002</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Lifemapper</servlet-name>
    <url-pattern>/Lifemapper</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MinimumTemperatureNormals_December_1981_2010</servlet-name>
    <url-pattern>/MinimumTemperatureNormals_December_1981_2010</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FractionalSnowCover07122002</servlet-name>
    <url-pattern>/FractionalSnowCover07122002</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FractionalSnowCover07132002</servlet-name>
    <url-pattern>/FractionalSnowCover07132002</url-pattern>
  </servlet-mapping>
  
</web-app>